html { font-size: 62.5%; }
body { font-size: 1.4rem; } /* 14px */
h1 { font-size: 5.6rem; } /* 56px */
h2 { font-size: 2.8rem; }

.active {
  color: blue;
}

.footer {
  width: 100%;
  height: 50px;
  padding: 8px;
  text-align: right;
  color: white;
}

.form {
  width: 50%;
}

.select {
  border-width: 2px;
  margin-bottom: 10px;
}

.boxcard:hover {
  transform: scale(1.05, 1.05);
}

/* UserInfo.jsxのプロフィール画像アップロードコンポーネント */
.img_container {
  height: 250px;
  width: 300px;
  text-align: -webkit-center;
  border-radius: 10px;
  background-color: rgba(202, 202, 202, 0.5);
}

.img-holder {
  margin: auto;
  width: 154px;
  height: 154px;
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 1rem;
}

.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 50%;
  margin-top: 1rem;
  display: table;
  justify-content: center;
}

.image-upload {
  margin: auto;
  padding: 5px;
  display: table-cell;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: black;
  /* text-align: center; */
  vertical-align: middle;
  cursor: pointer;
}