html { font-size: 62.5%; }
body { font-size: 1.4rem; } /* 14px */
h1 { font-size: 5.6rem; } /* 56px */
h2 { font-size: 2.8rem; }

.active {
  color: blue;
}
/* 
.home_contents::after {
  content:"";
  display: block;
  width:48%;
} */

.container{
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.form {
  width: 50%;
}

.select {
  border-width: 2px;
  margin-bottom: 10px;
}

.boxcard:hover {
  transform: scale(1.05, 1.05);
}