/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap'); */

body, html {
  margin: 0;
}

.title {
  margin: 10px;
}

.header {
  padding: 10px;
  background-color: #00897B;
  color: #FFFFFF;
}