/* .App {
  text-align: center;
} */

:root {
  --amplify-primary-color: #319795; /*メインとなるリンク、ボタン色*/
  --amplify-primary-tint: #2d3438;
  --amplify-primary-shade: #gray;
  --amplify-secondary-tint: #red; /*アラート表示の背景色*/
  --amplify-secondary-shade: #gray;
}